@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply hidden h-6 md:inline-flex
    cursor-pointer hover:scale-125
    transition-all duration-150 ease-out;
  }
  .btn {
    @apply h-7 hover:scale-125 cursor-pointer transition-all duration-150 ease-out;
  }
}

.pb-full {
  padding-bottom: 100%;
}

.bioclass {
  color: #8e8e8e;
}

/* hide search icon on search focus */
.search-bar:focus + .fa-search {
  display: none;
}

@media screen and (min-width: 768px) {
  .post:hover .overlay {
    display: block;
  }
}
